    <ul class="actions">
        <li>
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}">Retour</a>
        </li>

        {%- if ('edit' in actions) and (not hide_edit) %}

        <li>
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">Modifier</a>
        </li>

        {%- endif %}

        {%- if ('delete' in actions) and (not hide_delete) %}

        <li>
            {{ '{{ form_start(delete_form) }}' }}
                <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ '{{ form_end(delete_form) }}' }}
        </li>

        {%- endif %}

    </ul>