{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h1>Photos list</h1>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Estprincipal</th>
                                <th>Imagename</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for photo in photos %}
                                <tr>
                                    <td>
                                        <a href="{{ path('photo_show', { 'id': photo.id }) }}">{{ photo.id }}</a>
                                    </td>
                                    <td>{{ photo.nom }}</td>
                                    <td>{% if photo.estPrincipal %}Oui{% else %}Non{% endif %}</td>
                                    <td><img class="img img-circle imgThumb"
                                             src="{{ vich_uploader_asset(photo, 'imageFile') }}"></td>
                                    <td>
                                        <a class="action" href="{{ path('photo_show', { 'id': photo.id }) }}"><i
                                                    class="fa fa-eye"></i></a>
                                        <a class="action" href="{{ path('photo_edit', { 'id': photo.id }) }}"><i
                                                    class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <ul class="actions">
            <li>
                <a class="btn btn-default" href="{{ path('photo_new') }}">Create a new photo</a>
            </li>
        </ul>
    {% endblock %}
