    {% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
    <h1>Photo</h1>
<p><img class="img" src="{{ vich_uploader_asset(photo, 'imageFile') }}"></p>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                        <td>{{ photo.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                        <td>{{ photo.nom }}</td>
                </tr>
                <tr>
                    <th>Estprincipal</th>
                        <td>{% if photo.estPrincipal %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Imagename</th>
                        <td>{{ photo.imageName }}</td>
                </tr>
                <tr>
                    <th>Updatedat</th>
                        <td>{% if photo.updatedAt %}{{ photo.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
            <ul class="actions">
        <li>
            <a href="{{ path('photo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('photo_edit', { 'id': photo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default pull-right" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
