{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h1>Divers</h1>
                    </div>
                    <div class="box-body">
                            <table id="tab-data" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Photo</th>

                                    <th>Nom - Reference</th>

                                    <th>Emplacement</th>

                                    <th>Stock mini</th>

                                    <th>Stock alerte</th>

                                    <th>Stock</th>

                                    <th>Prix</th>

                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for diver in divers %}
                                    <tr>
                                        <td>
                                            {% if diver.photoPrincipale is defined and not diver.photoPrincipale == "" %}
                                                <a href="{{ path('divers_show', { 'id': diver.id }) }}"><img
                                                            class="img img-circle imgThumb"
                                                            src="{{ vich_uploader_asset(diver.photoPrincipale , 'imageFile') }}"></a>
                                            {% endif %}
                                        </td>
                                        <td>{{ diver.nom }} - {{ diver.reference }}</td>
                                        <td>{{ diver.emplacement }}</td>
                                        <td>{{ diver.stockmini }}</td>
                                        <td>{{ diver.stockalerte }}</td>
                                        <td>{{ diver.stock }}</td>
                                        <td>{{ diver.prix }}</td>
                                        <td>

                                            <a href="{{ path('divers_show', { 'id': diver.id }) }}"
                                               class="action val-est-un-narvalo">

                                                <i class="fa fa-eye"></i>

                                            </a>

                                            <a href="{{ path('divers_edit', { 'id': diver.id }) }}"
                                               class="action val-est-un-narvalo">

                                                <i class="fa fa-pencil"></i>

                                            </a>
                                            <a href="{{ path('divers_delete', { 'id': diver.id }) }}"
                                               class="action val-est-un-narvalo">


                                                <i class="fa fa-trash"></i>

                                            </a>


                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                    </div>
                </div>
            </div>
        </div>
        <ul class="actions">
            <li>
                <a class="btn btn-default" href="{{ path('divers_new') }}">Ajouter un(e) Divers</a>
            </li>
        </ul>
    {% endblock %}

    {% block javascript %}
        <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
        <script>
            $(function () {
                $("#tab-data").DataTable({
                    "ordering": true,
                    "paging": true,
                    "lengthChange": true,
                    "info": true,
                    "scrollX": true,
                    "autoWidth": false

                });
            });
        </script>
    {% endblock %}
