    {% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
    <h1>Divers</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                        <td>{{ diver.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                        <td>{{ diver.nom }}</td>
                </tr>
                <tr>
                    <th>Reference</th>
                        <td>{{ diver.reference }}</td>
                </tr>
                <tr>
                    <th>Emplacement</th>
                        <td>{{ diver.emplacement }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                        <td>{{ diver.description }}</td>
                </tr>
                <tr>
                    <th>Taille</th>
                        <td>{{ diver.taille }}</td>
                </tr>
                <tr>
                    <th>Stock_mini</th>
                        <td>{{ diver.stockmini }}</td>
                </tr>
                <tr>
                    <th>Stock_alerte</th>
                        <td>{{ diver.stockalerte }}</td>
                </tr>
                <tr>
                    <th>Stock</th>
                        <td>{{ diver.stock }}</td>
                </tr>
                <tr>
                    <th>Poids</th>
                        <td>{{ diver.poids }}</td>
                </tr>
                <tr>
                    <th>Nb_commandes</th>
                        <td>{{ diver.nbcommandes }}</td>
                </tr>
                <tr>
                    <th>Date_reapro_dernier</th>
                        <td>{% if diver.datereaprodernier %}{{ diver.datereaprodernier|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Date_reapro_prochain</th>
                        <td>{% if diver.datereaproprochain %}{{ diver.datereaproprochain|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                        <td>{{ diver.prix }}</td>
                </tr>
            </tbody>
        </table>
    </div>
            <ul class="actions">
        <li>
            <a href="{{ path('divers_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('divers_edit', { 'id': diver.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>{% endblock %}
