{% extends 'BackBundle:layout:baseBack.html.twig' %}

{% block body %}
    <h1>Vis | Édition</h1>

    <div class="row">
        <div class="col-md-6">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-default" type="submit" value="Modifier"/>
            {{ form_end(edit_form) }}
        </div>
        <div class="col-md-6">
            <h3>Les photos</h3>
            <div class="well">
                <h4>Attribuées</h4>
                <div class="row">
                    {% if vis.photoPrincipale is defined and not vis.photoPrincipale == "" %}
                        <div class="col-md-2">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h6>Principale</h6></div>
                                <div class="panel-body">
                                    <img class="img img-rounded"     src="{{ vich_uploader_asset(vis.photoPrincipale , 'imageFile') }}">
                                </div>
                                <div class="panel-footer">
                                    <a href="{{ path('vis_removeImage', {"idVis":vis.id, "idPhoto":vis.photoPrincipale.id}) }}">Enlever</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% for photo in vis.photosNonPrincipal %}
                        <div class="col-md-2">
                            <div class="panel">
                                <img class="img img-rounded" src="{{ vich_uploader_asset(photo , 'imageFile') }}">
                                <div class="panel-footer">
                                    <a href="{{ path('vis_removeImage', {"idVis":vis.id, "idPhoto":photo.id}) }}">Enlever</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="well">
                <h4>Disponibles</h4>
                <div class="row">
                    {% for image in images %}
                        {% if image.vis != vis %}
                            <div class="col-md-2">
                                <div class="panel">
                                    <img class="img img-rounded" src="{{ vich_uploader_asset(image , 'imageFile') }}">
                                    <div class="panel-footer">
                                        <a href="{{ path('vis_addImage', {"idVis":vis.id, "idPhoto":image.id, "isMain":1}) }}">Principale</a>
                                        <a href="{{ path('vis_addImage', {"idVis":vis.id, "idPhoto":image.id, "isMain":0}) }}">Normale</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <h3>Les couleurs</h3>
            <div class="well">
                <h4>Attribuée</h4>
                <div class="row">
                    {% if vis.couleur is defined and not vis.couleur == "" %}
                        <div class="col-md-2">
                            <div class="panel">
                                <div class="panel-body" style="background: {{ vis.couleur.hexa }};"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="well">
                <h4>Disponibles</h4>
                <div class="row">
                    {% for couleur in couleurs %}
                        <div class="col-md-2">
                            <div class="panel">
                                <a href="{{ path('addCouleur', {"class":"vis", "obj":vis.id, "idCouleur":couleur.id}) }}"><div class="panel-body" style="background: {{ couleur.hexa }};"></div></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <ul class="actions">
        <li>
            <a href="{{ path('vis_index') }}">Retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>


{% endblock %}
{% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-sliderAccess.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $('.date-pick').datetimepicker({
                timeFormat: 'HH:mm:ss',
                stepHour: 2,
                stepMinute: 10,
                stepSecond: 10
            });
        });
    </script>
{% endblock %}
