{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h1>Vis</h1>
                    </div>
                    <div class="box-body">
                            <table id="tab-data" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Photo</th>

                                    <th>Nom - Reference</th>

                                    <th>Emplacement</th>

                                    <th>Prix</th>

                                    <th>Stock</th>

                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for vi in vis %}
                                    <tr>
                                        <td>
                                            {% if vi.photoPrincipale is defined and not vi.photoPrincipale == "" %}
                                                <a href="{{ path('vis_show', { 'id': vi.id }) }}"><img
                                                            class="img img-circle imgThumb"
                                                            src="{{ vich_uploader_asset(vi.photoPrincipale , 'imageFile') }}"></a>
                                            {% endif %}
                                        </td>
                                        <td>{{ vi.nom }} - {{ vi.reference }}</td>
                                        <td>{{ vi.emplacement }}</td>
                                        <td>{{ vi.prix }}</td>
                                        <td>{{ vi.stock }}</td>
                                        <td>

                                            <a href="{{ path('vis_show', { 'id': vi.id }) }}"
                                               class="action val-est-un-narvalo">

                                                <i class="fa fa-eye"></i>

                                            </a>

                                            <a href="{{ path('vis_edit', { 'id': vi.id }) }}"
                                               class="action val-est-un-narvalo">

                                                <i class="fa fa-pencil"></i>

                                            </a>
                                            <a href="{{ path('vis_delete', { 'id': vi.id }) }}"
                                               class="action val-est-un-narvalo">


                                                <i class="fa fa-trash"></i>

                                            </a>


                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        <ul class="actions">
            <li>
                <a class="btn btn-default" href="{{ path('vis_new') }}">Ajouter un(e) Vis</a>
            </li>
        </ul>
    {% endblock %}

    {% block javascript %}
        <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
        <script>
            $(function () {
                $("#tab-data").DataTable({
                    "ordering": true,
                    "paging": true,
                    "lengthChange": true,
                    "info": true,
                    "scrollX": true,
                    "autoWidth": false

                });
            });
        </script>
    {% endblock %}
