    {% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
    <h1>Vis</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                        <td>{{ vi.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                        <td>{{ vi.nom }}</td>
                </tr>
                <tr>
                    <th>Reference</th>
                        <td>{{ vi.reference }}</td>
                </tr>
                <tr>
                    <th>Poids</th>
                        <td>{{ vi.poids }}</td>
                </tr>
                <tr>
                    <th>Longueur</th>
                        <td>{{ vi.longueur }}</td>
                </tr>
                <tr>
                    <th>Diametre_tete</th>
                        <td>{{ vi.diametretete }}</td>
                </tr>
                <tr>
                    <th>Diametre_filetage</th>
                        <td>{{ vi.diametrefiletage }}</td>
                </tr>
                <tr>
                    <th>Emplacement</th>
                        <td>{{ vi.emplacement }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                        <td>{{ vi.prix }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                        <td>{{ vi.description }}</td>
                </tr>
                <tr>
                    <th>Taille</th>
                        <td>{{ vi.taille }}</td>
                </tr>
                <tr>
                    <th>Nb_commandes</th>
                        <td>{{ vi.nbcommandes }}</td>
                </tr>
                <tr>
                    <th>Date_reapro_dernier</th>
                        <td>{% if vi.datereaprodernier %}{{ vi.datereaprodernier|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Date_reapro_prochain</th>
                        <td>{% if vi.datereaproprochain %}{{ vi.datereaproprochain|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Stock_mini</th>
                        <td>{{ vi.stockmini }}</td>
                </tr>
                <tr>
                    <th>Stock_alerte</th>
                        <td>{{ vi.stockalerte }}</td>
                </tr>
                <tr>
                    <th>Stock</th>
                        <td>{{ vi.stock }}</td>
                </tr>
            </tbody>
        </table>
    </div>
            <ul class="actions">
        <li>
            <a href="{{ path('vis_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('vis_edit', { 'id': vi.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>{% endblock %}
