<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="row" >

        <div class="col-xs-4 offset-xs-2">
            <h3 class="text-center">Infos:</h3><hr>
            <address>
                <strong>Destinataire:</strong><br>
                {{ config.getConfig("nomSociete") }}<br>
                {{ config.getConfig("adresseSociete") }}<br>
                {{ config.getConfig("complementAdresseSociete") }}<br>
                {{ config.getConfig("cpSociete") }} {{ config.getConfig("villeSociete") }}<br>
                {{ config.getConfig("SIRETSociete") }}
            </address>
        </div>

        {%  if command.id is defined %}
        <div class="col-xs-8">
            <h3 class="text-center">Résumé de la commande</h3><hr>
            <div class="pull-left"><h4>Sous Total</h4> </div>
            <div class="pull-right"><h4 class="text-right">{{ command.prixTotal }}€</h4></div>
            <div class="clearfix"></div>
            <div class="pull-left"><h4>Taxe</h4> </div>
            <div class="pull-right"><h4 class="text-right">{{ command.prixTotal*20/100 }}€</h4></div>
            <div class="clearfix"></div>
            <div class="pull-left"><h4>Total de la commande</h4> </div>
            <div class="pull-right"><h4 class="text-right">{{ command.prixTotal + (command.prixTotal*20/100)}}€</h4></div>
            <div class="clearfix"></div>
        </div>
        {% elseif total is defined %}
            <div class="col-xs-8">
                <h3 class="text-center">Résumé de la commande</h3><hr>
                <div class="pull-left"><h4>Sous Total</h4> </div>
                <div class="pull-right"><h4 class="text-right">{{ total }}€</h4></div>
                <div class="clearfix"></div>
                <div class="pull-left"><h4>Taxe</h4> </div>
                <div class="pull-right"><h4 class="text-right">{{ total*20/100 }}€</h4></div>
                <div class="clearfix"></div>
                <div class="pull-left"><h4>Total de la commande</h4> </div>
                <div class="pull-right"><h4 class="text-right">{{ total + (total*20/100)}}€</h4></div>
                <div class="clearfix"></div>
            </div>
        {% endif %}


    </div>

</body>
</html>