<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="invoice-title">
                {% if command.id is defined %}
                    <h2>Commande #{{ command.id }}</h2>
                {% else %}
                    <h2>Commande fournisseur</h2>
                {% endif %}
                <hr>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Destinataire:</strong><br>
                        {{ config.getConfig("nomSociete") }}<br>
                        {{ config.getConfig("adresseSociete") }}<br>
                        {{ config.getConfig("complementAdresseSociete") }}<br>
                        {{ config.getConfig("cpSociete") }} {{ config.getConfig("villeSociete") }}<br>
                        {{ config.getConfig("SIRETSociete") }}

                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Fournisseur:</strong><br>
                        {{ config.getConfig("nomFournisseur") }}<br>
                        {{ config.getConfig("adresseFournisseur") }}<br>
                        {{ config.getConfig("complementAdresseFournisseur") }}<br>
                        {{ config.getConfig("cpFournisseur") }} {{ config.getConfig("villeFournisseur") }}<br>
                        {{ config.getConfig("SIRETFournisseur") }}
                    </address>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
