{% extends 'BackBundle:PDF:basePDF.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Commande fournisseur du {{ "now"|date("d/m/Y") }}</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td><strong>Produits</strong></td>
                                <td></td>
                                <td class="text-center"><strong>Prix</strong></td>
                                <td class="text-center"><strong>Quantité</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                                {% for produit in produits %}
                                    {% for item in produit %}
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    {% if not item.produitGenerique.produit.photoPrincipale == "" %}
                                                        <img style="width: 40px; height: auto;" id="imgPrincipalePanier"
                                                             src="{{ vich_uploader_asset(item.produitGenerique.produit.photoPrincipale , 'imageFile') }}">
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="media-body">
                                                    <h4 class="media-heading"> {{ item.produitGenerique.produit }} / {{ item.produitGenerique.type }} - {{ item.produitGenerique.produit.nom }}</h4>
                                                </div>
                                            </td>
                                            <td class="text-center">{{ item.produitGenerique.produit.prix }}</td>
                                            <td class="text-center">{{ item.nbCommandes }}</td>

                                        </tr>
                                    {% endfor %}
                                {% endfor %}

                            </tbody>

                    <!-- foreach ($order->lineItems as $line) or some such thing here -->


                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
