    {% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
    <h1>Typediver</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                        <td>{{ typeDiver.id }}</td>
                </tr>
                <tr>
                    <th>Libelle</th>
                        <td>{{ typeDiver.libelle }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                        <td>{{ typeDiver.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
            <ul class="actions">
        <li>
            <a href="{{ path('typedivers_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('typedivers_edit', { 'id': typeDiver.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>{% endblock %}
