<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Trier</h2>
    </div>
    <div class="panel-body">
        <h3>Type :</h3>
        <ul class="list-group">
            <li class="list-group-item {% if type == "Roue" %} {{ "active" }} {% endif %}">
                <a href="{{ path('filtre_type',{'type':"Roue"}) }}">Roues</a>
            </li>
            <li class="list-group-item {% if type == "Equerre" %} {{ "active" }} {% endif %}">
                <a href="{{ path('filtre_type',{'type':"Equerre"}) }}">Équerres</a>
            </li>
            <li class="list-group-item {% if type == "Vis" %} {{ "active" }} {% endif %}">
              <a href="{{ path('filtre_type',{'type':"Vis"}) }}">Vis</a>
            </li>
            <li class="list-group-item {% if type == "Planche" %} {{ "active" }} {% endif %}">
                <a href="{{ path('filtre_type',{'type':"Planche"}) }}">Planches</a>
            </li>
            <li class="list-group-item {% if type == "Divers" %} {{ "active" }} {% endif %}">
               <a href="{{ path('filtre_type',{'type':"Divers"}) }}">Divers</a>
            </li>
        </ul>
        <h3>Couleur :</h3>
        <div class="panel">
        {% for couleur in couleurs %}

            <a href="{{ path('filtre_couleur',{'couleur':couleur.id}) }}" class="{% if color is not null and couleur.id == color.id %} {{ "CouleurActive" }} {% endif %}" style="display: inline-block; background: {{ couleur.hexa }}; height: 20px; width: 20px; border-radius:3px;"></a>

        {% endfor %}
        </div>
    </div>
</div>