{% extends 'FrontBundle:layout:front.html.twig' %}

{% block container %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="col-md-9">
        {% block body %} {% endblock %}
    </div>
    <div class="col-md-3">
        {% block aside %}{% endblock %}
    </div>
{% endblock %}
