<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <!-- Notifications Menu -->
        <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="{{ path('panier') }}" >
                <i class="fa fa-shopping-cart"></i>
                <span class="label label-warning">{{ count }}</span>
            </a>
        </li>
    </ul>
</div>