<footer class="main-footer">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="text-center"><p>Réalisation par Techtool</p></div>
        </div>
       <div class="col-md-3 hidden-sm hidden-xs"><div class="clock"></div></div>
    </div>
</footer>

