<header class="main-header">
    <nav class="navbar navbar-static-top">
        <!-- Logo -->
        <div class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <a href="{{ path('index') }}"><span class="logo-mini" style="color: #fff;"><b>D</b> Pedro</span></a>
            <!-- logo for regular state and mobile devices -->
            <a href="{{ path('index') }}"><span class="logo-lg" style="color: #fff;"><b>Don</b> Pedro</span></a>
        </div>
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produits <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('filtre_type',{'type':"Equerre"}) }}">Equerre</a></li>
                            <li><a href="{{ path('filtre_type',{'type':"Planche"}) }}">Planche</a></li>
                            <li><a href="{{ path('filtre_type',{'type':"Roue"}) }}">Roue</a></li>
                            <li><a href="{{ path('filtre_type',{'type':"Vis"}) }}">Vis</a></li>
                            <li><a href="{{ path('filtre_type',{'type':"Divers"}) }}">Divers</a></li>
                            <li><a href="{{ path('catalogue') }}">Tous les produits</a></li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('backoffice') }}">Administration</a>
                    {% endif %}
                    {% if app.user %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    {% endif %}

                </ul>

                {% if app.user %}
                    <div class="pull-right">
                        {{ render(controller('FrontBundle:Panier:icon')) }}
                    </div>
                    <div class="pull-right">
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <!-- Notifications Menu -->
                                <li class="dropdown notifications-menu">
                                    <!-- Menu toggle button -->
                                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->

    </nav>
</header>
