<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Rechercher</h2>
    </div>
    <div class="panel-body" style="padding-top:20px;">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Rechercher"/>
        {{ form_end(form) }}
    </div>
</div>