{% extends 'BackBundle:layout:baseBack.html.twig' %}
{% block css %}
{% endblock %}
{% block body %}
    <h1>Configuration de la société</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-default" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul class="actions">
        <li>
            <a href="{{ path('configuration_index') }}">Retour</a>
        </li>

    </ul>

{% endblock %}