{% macro roue(produit, couleur) %}
    <div class="col-md-3">
        <div class="panel produit panel-default list-product" style="border-bottom: 5px solid {{ couleur }};">
            <div class="panel-heading img-product">
                {% if not produit.photoPrincipale == "" %}
                    <img src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}" class="images">
                {% endif %}
            </div>
            <div class="panel-body">
                <h4>
                    {{ produit.nom|capitalize }}
                    <span class="pull-right">
                        <a class="btn btn-success btn-xs" style="background-color:deeppink"
                           href="{{ path('fo_element_show', {'id': produit.id , 'type': 'Roue'}) }}"><span class="glyphicon glyphicon-zoom-in"></span>
                        </a>
                    </span>
                </h4>
                <h5><b>Ref</b> : {{ produit.reference }}</h5>
                <h5><b>Diametre</b> : {{ produit.diametre }}</h5>
            </div>
            {% if app.user %}
                <div class="panel-footer">
                    {{ render(controller('FrontBundle:Panier:displayFormCart', {"id" : produit.produitGenerique.id})) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro equerre(produit, couleur) %}
    <div class="col-md-3">
        <div class="panel produit panel-default list-product" style="border-bottom: 5px solid {{ couleur }};">
            <div class="panel-heading img-product">
                {% if not produit.photoPrincipale == "" %}
                    <img src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}" class="images">
                {% endif %}
            </div>
            <div class="panel-body">
                <h4>
                    {{ produit.nom|capitalize }}
                    <span class="pull-right">
                        <a class="btn btn-success btn-xs" style="background-color:deeppink"
                           href="{{ path('fo_element_show', {'id': produit.id , 'type': 'Equerre'}) }}"><span class="glyphicon glyphicon-zoom-in"></span>
                        </a>
                    </span>
                </h4>
                <h5><b>Ref</b> : {{ produit.reference }}</h5>
                <h5><b>Angle</b> : {{ produit.angle }}</h5>
                <h5><b>Longueur min</b> : {{ produit.longueurMin }}</h5>
                <h5><b>Longueur max</b> : {{ produit.longueurMax }}</h5>
            </div>
            {% if app.user %}
                <div class="panel-footer">
                    {{ render(controller('FrontBundle:Panier:displayFormCart', {"id" : produit.produitGenerique.id})) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro vis(produit, couleur) %}

    {% if produit.couleur is defined and not produit.couleur == "" %}
        {% set c = produit.couleur.hexa %}
    {% else %}
        {% set c = "#CCC" %}
    {% endif %}

    <div class="col-md-3">
        <div class="panel produit panel-default list-product" style="border-bottom: 5px solid  {{ couleur }};">
            <div class="panel-heading img-product">
                {% if not produit.photoPrincipale == "" %}
                    <img src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}" class="images">
                {% endif %}
            </div>
            <div class="panel-body">
                <h4>
                    {{ produit.nom|capitalize }}
                    <span class="pull-right">
                        <a class="btn btn-success btn-xs" style="background-color:deeppink"
                           href="{{ path('fo_element_show', {'id': produit.id , 'type': 'Vis'}) }}"><span class="glyphicon glyphicon-zoom-in"></span>
                        </a>
                    </span>
                </h4>
                <h5><b>Ref</b> :{{ produit.reference }}</h5>
                <h5><b>Poids</b> : {{ produit.poids }}</h5>
                <h5><b>Longueur</b> : {{ produit.longueur }}</h5>
            </div>
            {% if app.user %}
                <div class="panel-footer">
                    {{ render(controller('FrontBundle:Panier:displayFormCart', {"id" : produit.produitGenerique.id})) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro planche(produit, couleur) %}

    {% if produit.couleur is defined and not produit.couleur == "" %}
        {% set c = produit.couleur.hexa %}
    {% else %}
        {% set c = "#CCC" %}
    {% endif %}

    <div class="col-md-3">
        <div class="panel produit panel-default list-product" style="border-bottom: 5px solid  {{ couleur }};">
            <div class="panel-heading img-product">
                {% if not produit.photoPrincipale == "" %}
                    <img src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}" class="images">
                {% endif %}
            </div>
            <div class="panel-body">
                <h4>
                    {{ produit.nom|capitalize }}
                    <span class="pull-right">
                        <a class="btn btn-success btn-xs" style="background-color:deeppink"
                           href="{{ path('fo_element_show', {'id': produit.id , 'type': 'Planche'}) }}"><span class="glyphicon glyphicon-zoom-in"></span>
                        </a>
                    </span>
                </h4>
                <h5><b>Ref</b> : {{ produit.reference }}</h5>
                <h5><b>Longueur</b> : {{ produit.longueur }}</h5>
                <h5><b>Largeur</b> : {{ produit.largeur }}</h5>
            </div>
            {% if app.user %}
                <div class="panel-footer">
                    {{ render(controller('FrontBundle:Panier:displayFormCart', {"id" : produit.produitGenerique.id})) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro divers(produit, couleur) %}

    {% if produit.couleur is defined and not produit.couleur == "" %}
        {% set c = produit.couleur.hexa %}
    {% else %}
        {% set c = "#CCC" %}
    {% endif %}

    <div class="col-md-3">
        <div class="panel produit panel-default list-product" style="border-bottom: 5px solid {{ couleur }};">
            <div class="panel-heading img-product">
                {% if not produit.photoPrincipale == "" %}
                    <img src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}" class="images">
                {% endif %}
            </div>
            <div class="panel-body">
                <h4>
                    {{ produit.nom|capitalize }}
                    <span class="pull-right">
                        <a class="btn btn-success btn-xs" style="background-color:deeppink"
                           href="{{ path('fo_element_show', {'id': produit.id , 'type': 'Divers'}) }}"><span class="glyphicon glyphicon-zoom-in"></span>
                        </a>
                    </span>
                </h4>
                <h5><b>Ref</b> : {{ produit.reference }}</h5>
                <h5><b>Taille</b> : {{ produit.taille }}</h5>
            </div>
            {% if app.user %}
                <div class="panel-footer">
                    {{ render(controller('FrontBundle:Panier:displayFormCart', {"id" : produit.produitGenerique.id})) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
