{% macro roue(produit) %}
    <h2>Roue</h2>
    <div class="table-responsive">
        <table id="tab-data" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Photo</th>

                <th>Nom</th>

                <th>Reference</th>

                <th>Stock_mini</th>

                <th>Stock_alerte</th>

                <th>Stock</th>
                <th>Nb_commandes</th>

                <th>reapro_dernier</th>

                <th>reapro_prochain</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>                {% if not produit.photoPrincipale == "" %}
                        <img src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}"
                             class="img img-circle imgThumb">
                    {% endif %}
                </td>
                <td>{{ produit.nom|capitalize }}</td>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.stockmini }}</td>
                <td>{{ produit.stockalerte }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.nbcommandes }}</td>
                <td>{% if produit.datereaprodernier %}{{ produit.datereaprodernier|date('Y-m-d') }}{% endif %}</td>
                <td>{% if produit.datereaproprochain %}{{ produit.datereaproprochain|date('Y-m-d') }}{% endif %}</td>
                <td><a href="{{ path('roue_show', { 'id': produit.id }) }}" class="action val-est-un-narvalo">

                        <i class="fa fa-eye"></i>

                    </a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro equerre(produit) %}
    <h2>Equerre</h2>
    <div class="table-responsive">
        <table id="tab-data" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Photo</th>

                <th>Nom</th>

                <th>Reference</th>

                <th>Stock_mini</th>

                <th>Stock_alerte</th>

                <th>Stock</th>

                <th>Nb_commandes</th>

                <th>reapro_dernier</th>

                <th>reapro_prochain</th>

                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {% if not produit.photoPrincipale == "" %}
                        <img src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}"
                             class="img img-circle imgThumb">
                    {% endif %}
                </td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit }}</td>
                <td>{{ produit.stockmini }}</td>
                <td>{{ produit.stockalerte }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.nbcommandes }}</td>
                <td>{% if produit.datereaprodernier %}{{ produit.datereaprodernier|date('Y-m-d') }}{% endif %}</td>
                <td>{% if produit.datereaproprochain %}{{ produit.datereaproprochain|date('Y-m-d') }}{% endif %}</td>
                <td>

                    <a href="{{ path('equerre_show', { 'id': produit.id }) }}" class="action val-est-un-narvalo">

                        <i class="fa fa-eye"></i>

                    </a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro vis(produit) %}
    <h2>Vis</h2>
    <div class="table-responsive">
        <table id="tab-data" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Photo</th>

                <th>Nom</th>

                <th>Reference</th>

                <th>Nb_commandes</th>

                <th>Date_reapro_dernier</th>

                <th>Date_reapro_prochain</th>

                <th>Stock_mini</th>

                <th>Stock_alerte</th>

                <th>Stock</th>

                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {% if not produit.photoPrincipale == "" %}
                        <img src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}"
                             class="img img-circle imgThumb">
                    {% endif %}
                </td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit }}</td>
                <td>{{ produit.nbcommandes }}</td>
                <td>{% if produit.datereaprodernier %}{{ produit.datereaprodernier|date('Y-m-d') }}{% endif %}</td>
                <td>{% if produit.datereaproprochain %}{{ produit.datereaproprochain|date('Y-m-d') }}{% endif %}</td>
                <td>{{ produit.stockmini }}</td>
                <td>{{ produit.stockalerte }}</td>
                <td>{{ produit.stock }}</td>
                <td>

                    <a href="{{ path('vis_show', { 'id': produit.id }) }}" class="action val-est-un-narvalo">

                        <i class="fa fa-eye"></i>

                    </a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro planche(produit) %}
    <h2>Planche</h2>
    <div class="table-responsive">
        <table id="tab-data" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Photo</th>

                <th>Nom</th>

                <th>Reference</th>

                <th>Stock_mini</th>

                <th>Stock_alerte</th>

                <th>Stock</th>

                <th>Nb_commandes</th>

                <th>Date_reapro_dernier</th>

                <th>Date_reapro_prochain</th>

                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {% if not produit.photoPrincipale == "" %}
                        <img src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}"
                             class="img img-circle imgThumb">
                    {% endif %}
                </td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit }}</td>
                <td>{{ produit.stockmini }}</td>
                <td>{{ produit.stockalerte }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.nbcommandes }}</td>
                <td>{% if produit.datereaprodernier %}{{ produit.datereaprodernier|date('Y-m-d') }}{% endif %}</td>
                <td>{% if produit.datereaproprochain %}{{ produit.datereaproprochain|date('Y-m-d') }}{% endif %}</td>
                <td>

                    <a href="{{ path('planche_show', { 'id': produit.id }) }}" class="action val-est-un-narvalo">

                        <i class="fa fa-eye"></i>

                    </a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro divers(produit) %}
    <h2>Divers</h2>
    <div class="table-responsive">
        <table id="tab-data" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Photo</th>

                <th>Nom</th>

                <th>Reference</th>

                <th>Stock_mini</th>

                <th>Stock_alerte</th>

                <th>Stock</th>

                <th>Poids</th>

                <th>Nb_commandes</th>

                <th>Date_reapro_dernier</th>

                <th>Date_reapro_prochain</th>

                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {% if not produit.photoPrincipale == "" %}
                        <img src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}"
                             class="img img-circle imgThumb">
                    {% endif %}
                </td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit }}</td>
                <td>{{ produit.stockmini }}</td>
                <td>{{ produit.stockalerte }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.poids }}</td>
                <td>{{ produit.nbcommandes }}</td>
                <td>{% if produit.datereaprodernier %}{{ produit.datereaprodernier|date('Y-m-d') }}{% endif %}</td>
                <td>{% if produit.datereaproprochain %}{{ produit.datereaproprochain|date('Y-m-d') }}{% endif %}</td>
                <td>

                    <a href="{{ path('divers_show', { 'id': produit.id }) }}" class="action val-est-un-narvalo">

                        <i class="fa fa-eye"></i>

                    </a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endmacro %}
