{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h1>Planches</h1>
                    </div>
                    <div class="box-body">
                        <table id="tab-data" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Photo</th>

                                <th>Nom - Reference</th>

                                <th>Emplacement</th>

                                <th>Prix</th>

                                <th>Stock mini</th>

                                <th>Stock alerte</th>

                                <th>Stock</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for planche in planches %}
                                <tr>
                                    <td>
                                        {% if planche.photoPrincipale is defined and not planche.photoPrincipale == "" %}
                                            <a href="{{ path('planche_show', { 'id': planche.id }) }}"><img
                                                        class="img img-circle imgThumb"
                                                        src="{{ vich_uploader_asset(planche.photoPrincipale , 'imageFile') }}"></a>
                                        {% endif %}
                                    </td>
                                    <td>{{ planche.nom }} - {{ planche.reference }}</td>
                                    <td>{{ planche.emplacement }}</td>
                                    <td>{{ planche.prix }}</td>
                                    <td>{{ planche.stockmini }}</td>
                                    <td>{{ planche.stockalerte }}</td>
                                    <td>{{ planche.stock }}</td>
                                    <td>

                                        <a href="{{ path('planche_show', { 'id': planche.id }) }}"
                                           class="action val-est-un-narvalo">

                                            <i class="fa fa-eye"></i>

                                        </a>

                                        <a href="{{ path('planche_edit', { 'id': planche.id }) }}"
                                           class="action val-est-un-narvalo">

                                            <i class="fa fa-pencil"></i>

                                        </a>
                                        <a href="{{ path('planche_delete', { 'id': planche.id }) }}"
                                           class="action val-est-un-narvalo">


                                            <i class="fa fa-trash"></i>

                                        </a>


                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <ul class="actions">
            <li>
                <a class="btn btn-default" href="{{ path('planche_new') }}">Ajouter un(e) Planche</a>
            </li>
        </ul>
    {% endblock %}

    {% block javascript %}
        <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
        <script>
            $(function () {
                $("#tab-data").DataTable({
                    "ordering": true,
                    "paging": true,
                    "lengthChange": true,
                    "info": true,
                    "scrollX": true,
                    "autoWidth": false

                });
            });
        </script>
    {% endblock %}
