    {% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
    <h1>Planche</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                        <td>{{ planche.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                        <td>{{ planche.nom }}</td>
                </tr>
                <tr>
                    <th>Reference</th>
                        <td>{{ planche.reference }}</td>
                </tr>
                <tr>
                    <th>Longueur</th>
                        <td>{{ planche.longueur }}</td>
                </tr>
                <tr>
                    <th>Largeur</th>
                        <td>{{ planche.largeur }}</td>
                </tr>
                <tr>
                    <th>Epaisseur</th>
                        <td>{{ planche.epaisseur }}</td>
                </tr>
                <tr>
                    <th>Emplacement</th>
                        <td>{{ planche.emplacement }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                        <td>{{ planche.prix }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                        <td>{{ planche.description }}</td>
                </tr>
                <tr>
                    <th>Humidite</th>
                        <td>{{ planche.humidite }}</td>
                </tr>
                <tr>
                    <th>Durete</th>
                        <td>{{ planche.durete }}</td>
                </tr>
                <tr>
                    <th>Taille</th>
                        <td>{{ planche.taille }}</td>
                </tr>
                <tr>
                    <th>Stock_mini</th>
                        <td>{{ planche.stockmini }}</td>
                </tr>
                <tr>
                    <th>Stock_alerte</th>
                        <td>{{ planche.stockalerte }}</td>
                </tr>
                <tr>
                    <th>Stock</th>
                        <td>{{ planche.stock }}</td>
                </tr>
                <tr>
                    <th>Nb_commandes</th>
                        <td>{{ planche.nbcommandes }}</td>
                </tr>
                <tr>
                    <th>Date_reapro_dernier</th>
                        <td>{% if planche.datereaprodernier %}{{ planche.datereaprodernier|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Date_reapro_prochain</th>
                        <td>{% if planche.datereaproprochain %}{{ planche.datereaproprochain|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Poids</th>
                        <td>{{ planche.poids }}</td>
                </tr>
            </tbody>
        </table>
    </div>
            <ul class="actions">
        <li>
            <a href="{{ path('planche_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('planche_edit', { 'id': planche.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>{% endblock %}
