<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h1>Commandes</h1>
            </div>
            <div class="box-body">
                <table id="tab-data" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Nombre de produit(s)</th>
                        <th>Utilisateur</th>
                        <th>Statut de la commande</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for command in commands %}
                        <tr>
                            <td>{{ command.created|date("d/m/Y") }}</td>
                            <td>{{ command.lignesCommand|length }}</td>
                            <td>{{ command.user }}</td>
                            <td>
                                <a href="{{ path('change-state',{'id':command.id,'state':'0'}) }}"
                                   class="label label-{% if command.state == 0 %}danger{% else %}default{% endif %}">En
                                    attente</a>
                                <a href="{{ path('change-state',{'id':command.id,'state':'1'}) }}"
                                   class="label label-{% if command.state == 1 %}warning{% else %}default{% endif %}">En
                                    cour de traitement</a>
                                <a href="{{ path('change-state',{'id':command.id,'state':'2'}) }}"
                                   class="label label-{% if command.state == 2 %}success{% else %}default{% endif %}">Terminé</a>
                            </td>
                            <td>
                                <a href="{{ path('command_show', { 'id': command.id }) }}"
                                   class="action val-est-un-narvalo">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{{ path('command_edit', { 'id': command.id }) }}"
                                   class="action val-est-un-narvalo">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{{ path('command_delete', { 'id': command.id }) }}"
                                   class="action val-est-un-narvalo">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a href="{{ path('pdfForDede', { 'id': command.id }) }}"
                                   class="action val-est-un-narvalo">
                                    <i class="fa fa-print"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<script>
    $(function () {
        $("#tab-data").DataTable({
            "ordering": true,
            "paging": true,
            "lengthChange": true,
            "info": true,
            "scrollX": true,
            "autoWidth": false

        });
    });
</script>
