{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
        <h1>Commandes fournisseur</h1>
        <div class="table-responsive">
            <table id="tab-data" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Nombre de produit(s)</th>
                    <th>Utilisateur</th>
                    <th>Statut de la commande</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for command in commands %}
                    <tr>
                        <td>{{ command.created|date("d/m/Y") }}</td>
                        <td>{{ command.lignesCommand|length }}</td>
                        <td>{{ command.user }}</td>
                        <td>
                            {% if command.state != 2 %}
                                <a href="{{ path('change-state',{'id':command.id,'state':'2'}) }}" class="label label-{% if command.state == 2 %}success{% else %}default{% endif %}">Terminé</a>
                            {% else %}
                                <span class="label label-success">Terminé</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('command_show', { 'id': command.id }) }}"
                               class="action val-est-un-narvalo">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="{{ path('command_edit', { 'id': command.id }) }}"
                               class="action val-est-un-narvalo">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="{{ path('command_delete', { 'id': command.id }) }}"
                               class="action val-est-un-narvalo">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a href="{{ path('pdfForDede', { 'id': command.id }) }}"
                               class="action val-est-un-narvalo"  target="_blank">
                                <i class="fa fa-print"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}

    {% block javascript %}
        <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
        <script>
            $(function () {
                $("#tab-data").DataTable();
            });
        </script>
    {% endblock %}
