{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
        <h1>Commandes</h1>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ command.id }}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{ command.state }}</td>
                </tr>
                </tbody>
            </table>
            <h2>Détail</h2>
            <table class="table table-striped table-hover">
                <tbody>
                <tr>
                    <th>Photo</th>
                    <th>Quantité</th>
                    <th>Type de produit</th>
                    <th>Nom du produit</th>
                    <th>Ref. du produit</th>
                </tr>
                {% for ligne in command.lignesCommand %}
                    <tr>
                        <td>
                            {% if not ligne.produitGenerique.produit.photoPrincipale == "" %}
                                <img style="width: 40px; height: auto;" id="imgPrincipalePanier"
                                     src="{{ vich_uploader_asset(ligne.produitGenerique.produit.photoPrincipale , 'imageFile') }}">
                            {% endif %}
                        </td>
                        <td>{{ ligne.qte }}</td>
                        <td>{{ ligne.produitGenerique.type }}</td>
                        <td>{{ ligne.produitGenerique.produit.nom }}</td>
                        <td>{{ ligne.produitGenerique.produit }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul class="actions">
        <li>
            <a href="{{ path('command_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('command_edit', { 'id': command.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
        </ul>{% endblock %}
