{% extends "BackBundle:layout:baseBack.html.twig" %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Ajouter" />
    {{ form_end(form) }}
{% endblock %}
