{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% set stock_alerte_equerre = nb_stock_alert_equerre %}
    {% set stock_alerte_planche = nb_stock_alert_planche %}
    {% set stock_alerte_roue    = nb_stock_alert_roue %}
    {% set stock_alerte_vis     = nb_stock_alert_vis %}
    {% set stock_alerte_divers  = nb_stock_alert_divers %}

    {% set stock_tampon_equerre = nb_stock_tampon_equerre %}
    {% set stock_tampon_planche = nb_stock_tampon_planche %}
    {% set stock_tampon_roue    = nb_stock_tampon_roue %}
    {% set stock_tampon_vis     = nb_stock_tampon_vis %}
    {% set stock_tampon_divers  = nb_stock_tampon_divers %}

    {% set stock_total_alerte = total_alert %}
    {% set stock_total_tampon = total_mini %}
    {% set stock_total_ok = total_ok %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Nombre de produits en état d'alerte et tampon</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="barChart" style="height:230px"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Niveau des états de stock</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="pieChart" style="height:250px"></canvas>
                    </div>
                </div>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="box-footer clearfix">
                    {% if stock_total_tampon > 0 or stock_total_alerte > 0 %}
                        <a href="{{ path('pdfForProvider') }}" target="_blank"><button type="button" class="pull-right btn btn-success">Commander <i class="fa fa-arrow-circle-right"></i></button></a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js"></script>
    <script>
        $(function () {
            var areaChartData = {
                labels: ["Equerre", "Planche", "Roue", "Vis", "Divers"],
                datasets: [
                    {
                        label: "Nombre de produit au seuil alerte",
                        fillColor: "#f56954",
                        strokeColor: "#f56954",
                        pointColor: "#f56954",
                        pointStrokeColor: "#c1c7d1",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [{{ stock_alerte_equerre }}, {{ stock_alerte_planche }}, {{ stock_alerte_roue }}, {{ stock_alerte_vis }}, {{ stock_alerte_divers }}]
                    },
                    {
                        label: "Nombre de produit au seuil tampon",
                        fillColor: "#f39c12",
                        strokeColor: "#f39c12",
                        pointColor: "#f39c12",
                        pointStrokeColor: "#c1c7d1",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [{{ stock_tampon_equerre }}, {{ stock_tampon_planche }}, {{ stock_tampon_roue }}, {{ stock_tampon_vis }}, {{ stock_tampon_divers }}]
                    }
                ]
            };
            //-------------
            //- BAR CHART -
            //-------------
            var barChartCanvas = document.getElementById("barChart").getContext("2d");
            var barChart = new Chart(barChartCanvas);
            var barChartData = areaChartData;
            var barChartOptions = {
                responsive: true,
            };

            barChartOptions.datasetFill = false;
            barChart.Bar(barChartData, barChartOptions);

            //-------------
            //- PIE CHART -
            //-------------
            // Get context with jQuery - using jQuery's .get() method.
            var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
            var pieChart = new Chart(pieChartCanvas);
            var PieData = [
                {
                    value: {{ stock_total_alerte }},
                    color: "#f56954",
                    highlight: "#f56954",
                    label: "Nombre de produit en état alerte"
                },
                {
                    value: {{ stock_total_tampon }},
                    color: "#f39c12",
                    highlight: "#f39c12",
                    label: "Nombre de produit en état tampon"
                },
                {
                    value: {{ stock_total_ok }},
                    color: "#00a65a",
                    highlight: "#00a65a",
                    label: "Nombre de produit au dessus des seuils"
                }
            ];
            var pieOptions = {
                //Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                //String - The colour of each segment stroke
                segmentStrokeColor: "#fff",
                //Number - The width of each segment stroke
                segmentStrokeWidth: 2,
                //Number - The percentage of the chart that we cut out of the middle
                percentageInnerCutout: 50, // This is 0 for Pie charts
                //Number - Amount of animation steps
                animationSteps: 100,
                //String - Animation easing effect
                animationEasing: "easeOutBounce",
                //Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                //Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true,
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true
                };
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            $(document).ready(
                    function () {
                        var myNewChart = pieChart.Doughnut(PieData, pieOptions);

                        $("#pieChart").click(
                                function (e) {
                                    var activePoints = myNewChart.getSegmentsAtEvent(e);
                                    var url = activePoints[0].label;
                                    if(url == "Nombre de produit en état alerte"){
                                        window.location.replace("{{ path ('liste_produit_stock_alert') }}");
                                    }else if(url == "Nombre de produit en état tampon"){
                                        window.location.replace("{{ path ('liste_produit_stock_mini') }}");
                                    }else if(url == "Nombre de produit au dessus des seuils"){
                                        window.location.replace("{{ path ('liste_produit_stock_ok') }}");
                                    }
                                });
                    });

        });
    </script>
{% endblock %}

