    {% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
    <h1>Roue</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                        <td>{{ roue.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                        <td>{{ roue.nom }}</td>
                </tr>
                <tr>
                    <th>Reference</th>
                        <td>{{ roue.reference }}</td>
                </tr>
                <tr>
                    <th>Emplacement</th>
                        <td>{{ roue.emplacement }}</td>
                </tr>
                <tr>
                    <th>Diametre</th>
                        <td>{{ roue.diametre }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                        <td>{{ roue.prix }}</td>
                </tr>
                <tr>
                    <th>Poids</th>
                        <td>{{ roue.poids }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                        <td>{{ roue.description }}</td>
                </tr>
                <tr>
                    <th>Hauteur_pneu</th>
                        <td>{{ roue.hauteurpneu }}</td>
                </tr>
                <tr>
                    <th>Nb_boulons</th>
                        <td>{{ roue.nbboulons }}</td>
                </tr>
                <tr>
                    <th>Stock_mini</th>
                        <td>{{ roue.stockmini }}</td>
                </tr>
                <tr>
                    <th>Stock_alerte</th>
                        <td>{{ roue.stockalerte }}</td>
                </tr>
                <tr>
                    <th>Stock</th>
                        <td>{{ roue.stock }}</td>
                </tr>
            </tbody>
        </table>
    </div>
            <ul class="actions">
        <li>
            <a href="{{ path('roue_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('roue_edit', { 'id': roue.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>{% endblock %}
