{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h1>Type de vissages</h1>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Libelle</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for typeVissage in typeVissages %}
                                <tr>
                                    <td>
                                        <a href="{{ path('typevissage_show', { 'id': typeVissage.id }) }}">{{ typeVissage.id }}</a>
                                    </td>
                                    <td>{{ typeVissage.libelle }}</td>
                                    <td>{{ typeVissage.description }}</td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('typevissage_show', { 'id': typeVissage.id }) }}">show</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('typevissage_edit', { 'id': typeVissage.id }) }}">edit</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <ul class="actions">
            <li>
                <a class="btn btn-default" href="{{ path('typevissage_new') }}">Ajouter un(e) typeVissage</a>
            </li>
        </ul>
    {% endblock %}
