    {% extends 'BackBundle:layout:baseBack.html.twig' %}

{% block body %}
    <h1>Typevissage | Création</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul class="actions">
        <li>
            <a href="{{ path('typevissage_index') }}">Retour</a>
        </li>
    </ul>{% endblock %}
