{#{% extends "FrontBundle:layout:baseFront.html.twig" %}#}
{% extends "BackBundle:layout:baseBack.html.twig" %}
{% block body %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}
