{% extends 'FrontBundle:Layout:BaseFront.html.twig' %}

{% import "macro/produits/macro-list.html.twig" as macroProduit %}
{% block body %}
    {% for item in produits %}
        {% if item.produit.className == "Roue" %}
            {{ macroProduit.roue(item.produit, couleursType.Roue ) }}
        {% elseif item.produit.className == "Equerre" %}
            {{ macroProduit.equerre(item.produit, couleursType.Equerre) }}
        {% elseif item.produit.className == "Planche" %}
            {{ macroProduit.planche(item.produit, couleursType.Planche) }}
        {% elseif item.produit.className == "Vis" %}
            {{ macroProduit.vis(item.produit, couleursType.Vis) }}
        {% elseif item.produit.className == "Divers" %}
            {{ macroProduit.divers(item.produit, couleursType.Divers) }}
        {% endif %}
    {% endfor %}

{% endblock %}


{% block aside %}
    {{ render(controller('FrontBundle:Default:search')) }}
    {% if type is defined %}
        {{ render(controller('FrontBundle:Default:aside', {'type': type})) }}
    {% elseif couleur is defined %}
        {{ render(controller('FrontBundle:Default:aside', {'couleur': couleur})) }}
    {% else %}
        {{ render(controller('FrontBundle:Default:aside')) }}
    {% endif %}
{% endblock %}

{% block javascript %}

    <script>
        $(function(){
            //alert("coucou");
            $('#afterAddProduct').modal('show');
            $('.modal-backdrop').hide();
        });
    </script>

{% endblock %}

{% block modal %}

    {% if addProduct is defined %}

        {% set p = config.getEntityByGenerique(addProduct.id) %}

        <div class="modal fade" id="afterAddProduct">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center" >
                        <h1>Opération réussie</h1>
                        <p>Produit ajouté :<br/>
                        {{ p.nom }} - ref.{{ p.reference }} - {{ qte }}
                            {% if qte > 1 %}
                                pièces
                                {% else %}
                                pièce
                            {% endif %}
                        </p>
                    </div>
                    <div class="modal-footer" style="text-align: center !important;">
                        <a href="{{ path("catalogue") }}" type="button" class="btn btn-primary">Continuer ma commande</a>
                        <a href="{{ path("panier") }}" type="button" class="btn btn-success">Voir le panier</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}