{% extends 'FrontBundle:Layout:BasePanier.html.twig' %}

{% block body %}

    <div class="jumbotron frontJumbotron">

        <h1>Don Pedro Manager</h1>
        <p>Bienvenue sur le gestionnaire de pièces !</p>
        <p>

            <a href="{{ path('catalogue') }}" type="button" class="btn btn-success btn-lg fullwidthBtn">
                <span class="glyphicon glyphicon-fa-shopping-bag" aria-hidden="true"></span> Le catalogue produits
            </a>
        </p>
        <p>
            <a href="{{ path('backoffice') }}" type="button" class="btn btn-success btn-lg fullwidthBtn">
                <span class="glyphicon glyphicon-tachometer" aria-hidden="true"></span> L'administration
            </a>
        </p>

    </div>

{% endblock %}

