{% extends 'FrontBundle:Layout:baseFront.html.twig' %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $(".images").click(function () {
                var source = $(this).attr("src");
                var dest = $("#imagePrincipale").attr("src");
                $("#imagePrincipale").attr("src", source);
                $(this).attr("src", dest);
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="panel panel-default">
            <div class="panel-heading" style="border-bottom:5px solid {{ couleur }}">
                <div class="row">
                    <div class="col-md-6">
                        <h1>{{ produit.nom }}</h1>
                    </div>
                    <div class="col-md-6">
                        <h3>
                            {% if produit.reference is defined %}
                                <p>Ref : {{ produit.reference }}</p>
                            {% endif %}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <br><br>
                <div class="row">
                    <div class="col-md-5" align="center">
                        {% if not produit.photoPrincipale == "" %}
                            <img id="imagePrincipale"
                                 src="{{ vich_uploader_asset(produit.photoPrincipale , 'imageFile') }}">
                        {% endif %}
                    </div>

                    <div class="col-md-2">
                        {% for image in produit.photosNonPrincipal %}
                            <div class="thumbnails">
                                {% if not image == "" %}
                                    <img class="img img-rounded mxW100 pull-left images"
                                         src="{{ vich_uploader_asset(image , 'imageFile') }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-5">
                        <h3 style="margin-top:0">Description</h3>

                        {% if produit.tete is defined %}
                            <p>Tête de vis : {{ produit.tete }}</p>
                        {% endif %}
                        {% if produit.longueur is defined %}
                            <p>Longueur : {{ produit.longueur }} mm</p>
                        {% endif %}
                        {% if produit.largeur is defined %}
                            <p>Largeur : {{ produit.largeur }} mm</p>
                        {% endif %}
                        {% if produit.epaisseur is defined %}
                            <p>Epaisseur : {{ produit.epaisseur }} mm</p>
                        {% endif %}
                        {% if produit.angle is defined %}
                            <p>Angle :{{ produit.angle }}°</p>
                        {% endif %}
                        {% if produit.damietre is defined %}
                            <p>Damiètre : {{ produit.damietre }} mm</p>
                        {% endif %}

                        {% if produit.epaisseur is defined %}
                            <p>Epaisseur : {{ produit.epaisseur }} mm</p>
                        {% endif %}
                        {% if produit.hauteur is defined %}
                            <p>Hauteur : {{ produit.hauteur }} mm</p>
                        {% endif %}
                        {% if produit.profondeur is defined %}
                            <p>Profondeur : {{ produit.profondeur }} mm</p>
                        {% endif %}
                        {% if produit.emplacement is defined %}
                            <p>Emplacement : {{ produit.emplacement }}</p>
                        {% endif %}
                        {% if produit.poids is defined %}
                            <p>Poids : {{ produit.poids }} g</p>
                        {% endif %}
                        {% if produit.prix is defined %}
                            <p>Prix : {{ produit.prix }} €</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-success" href="{{ path('catalogue') }}">Retour</a>

    </div>

{% endblock %}


{% block aside %}
    {% if app.user %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Ajouter au panier</h2>
            </div>
            <div class="panel-body" style="padding-top: 20px;">
                {{ render(controller('FrontBundle:Panier:displayFormCart', {"id" : produit.produitGenerique.id})) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

