img {
    max-width: 100%;
}

footer {
    position:sticky;
    bottom:0;
}

ul.actions{
    list-style:none;
    margin-top: 20px;
    padding: 0;
}

.list-product {
    height:350px;
}
.panel-default > .panel-heading.img-product {
    height:33.3333%;
    padding:0;
    text-align:center;
    background-color:#fff;
}

.panel-default > .panel-body {
    padding-top:0;
}

.img-product img{
    height:100%;
}

.thumbnails img {
    height: 68px;
    padding: 1px;
    margin: 0 10px 10px 0;
}

.thumbnails img:hover {
    cursor:pointer;
}


#imagePrincipale{
    padding: 1px;
    height: 300px ;
}

#imgPrincipalePanier {
    height:100px;
}


.mxW100{
    max-width:100%;
}
 .imgThumb {
    max-height: 30px!important;
 }
 .action {
    width: 15px;
    height: 15px;
 }
 .action i {
    font-size:18px;
     color:black;
 }
.action{
    margin-right:10px;
}
.action:last-child{
    margin-right:0px;!important;
}

.panel.produit {
    position: relative;
}
.frontJumbotron{
    background-color: #dedbde!important;
}

.list-group-item.active a{
color:white;
}

.CouleurActive{
    border:2px solid #1f1f1f;
}
.panel.produit .panel-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.fullwidthBtn{
    display: block;
    width:100%;
}

.centerDiv{
    margin-top: 50vh;
    transform: translate(0, -50%);
}

/* Icone accueil */

.notifications-menu .fa-bell-o,.notifications-menu .fa-shopping-cart{
    font-size:22px;
}
.notifications-menu a{
    padding-bottom: 8px;
}

.main-header .navbar .nav>li>a>.label{
    font-size: 11px !important;
}
.main-header .navbar .nav>li>a{
    padding-bottom: 12px !important;
}

/* Date Picker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

