    {% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
    <h1>Equerre</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                        <td>{{ equerre.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                        <td>{{ equerre.nom }}</td>
                </tr>
                <tr>
                    <th>Reference</th>
                        <td>{{ equerre.reference }}</td>
                </tr>
                <tr>
                    <th>Longueur_min</th>
                        <td>{{ equerre.longueurmin }}</td>
                </tr>
                <tr>
                    <th>Longueur_max</th>
                        <td>{{ equerre.longueurmax }}</td>
                </tr>
                <tr>
                    <th>Angle</th>
                        <td>{{ equerre.angle }}</td>
                </tr>
                <tr>
                    <th>Poids</th>
                        <td>{{ equerre.poids }}</td>
                </tr>
                <tr>
                    <th>Emplacement</th>
                        <td>{{ equerre.emplacement }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                        <td>{{ equerre.prix }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                        <td>{{ equerre.description }}</td>
                </tr>
                <tr>
                    <th>Nb_trous</th>
                        <td>{{ equerre.nbtrous }}</td>
                </tr>
                <tr>
                    <th>Stock_mini</th>
                        <td>{{ equerre.stockmini }}</td>
                </tr>
                <tr>
                    <th>Stock_alerte</th>
                        <td>{{ equerre.stockalerte }}</td>
                </tr>
                <tr>
                    <th>Stock</th>
                        <td>{{ equerre.stock }}</td>
                </tr>
                <tr>
                    <th>Nb_commandes</th>
                        <td>{{ equerre.nbcommandes }}</td>
                </tr>
                <tr>
                    <th>Date_reapro_dernier</th>
                        <td>{% if equerre.datereaprodernier %}{{ equerre.datereaprodernier|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Date_reapro_prochain</th>
                        <td>{% if equerre.datereaproprochain %}{{ equerre.datereaproprochain|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
            <ul class="actions">
        <li>
            <a href="{{ path('equerre_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('equerre_edit', { 'id': equerre.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>{% endblock %}
