{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h1>Materiaux</h1>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Libelle</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for materiau in materiaus %}
                                <tr>
                                    <td>
                                        <a href="{{ path('materiau_show', { 'id': materiau.id }) }}">{{ materiau.id }}</a>
                                    </td>
                                    <td>{{ materiau.libelle }}</td>
                                    <td>{{ materiau.description }}</td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('materiau_show', { 'id': materiau.id }) }}">show</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('materiau_edit', { 'id': materiau.id }) }}">edit</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <ul class="actions">
            <li>
                <a class="btn btn-default" href="{{ path('materiau_new') }}">Ajouter un(e) materiau</a>
            </li>
        </ul>
    {% endblock %}
