{% extends "BackBundle:layout:baseBack.html.twig" %}

{% block body %}
    <h1>Utilisateurs</h1>
    <div class="row">
        <div class="col-md-6">
    {% for user in users %}
            <div class="box box-success">
                <div class="box-header with-border">
                    <h2>{{ user.username }}</h2>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                                Action
                                <span class="icon-cog icon-white"></span><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_delete', { 'id': user.id }) }}"><i class="fa fa-trash"></i> Supprimer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-3"><img class="img img-circle user" src="{{ asset('images/user.png') }}"></div>
                    <div class="col-md-9">
                        <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }} : {{ user.email }}</p>
                        <p>
                            <a class="action"  href="{{ path('fos_user_delete', { 'id': user.id }) }}"><i class="fa fa-trash"></i></a>
                            <a class="label label-{% if 'ROLE_ADMIN' in user.roles %}success{% else %}default{% endif %}"  href="{{ path('fos_user_promote', { 'id': user.id , 'role':'1' }) }}">Magasinier</a>
                            <a class="label label-{% if 'ROLE_SUPER_ADMIN' in user.roles %}success{% else %}default{% endif %}"  href="{{ path('fos_user_promote', { 'id': user.id , 'role':'2' }) }}">Administrateur</a>
                            <a class="label label-danger"  href="{{ path('fos_user_promote', { 'id': user.id , 'role':'0' }) }}">Enlever les roles</a>
                        </p>
                       <button data-id="{{ user.id }}" class="pull-right btn btn-success commandByUserBtn">Historique de commande</button>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
        <div id="commandsContainer" class="col-md-6 ">


        </div>
    </div>

    <ul class="actions">
        <li>
            <a class="btn btn-default" href="{{ path('fos_user_add') }}">Ajouter un utilisateur</a>
        </li>
    </ul>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(function () {
var id= 1;
            $(".commandByUserBtn").click(function(){

                var id = $(this).data('id');
                var path = Routing.generate('commandByUser_show', { id: id });

                $.ajax({
                    method: "POST",
                    url: path,
                })
                .done(function( msg ) {
                    $('#commandsContainer').html(msg);

                });
            });
        });
    </script>
{% endblock %}
