<div class="row">
    <div class="col-md-6">
        <div class="box box-success">
            <div class="box-header with-border">
                <h2>Profil</h2>
                <div class="box-tools pull-right">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                            Action
                            <span class="icon-cog icon-white"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_edit') }}"><span class="icon-wrench"></span> Modifier</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-3"><img class="img img-circle user" src="{{ asset('images/user.png') }}"></div>
                <div class="col-md-9">
                    <h3>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }} : {{ user.username }}</h3>
                    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }} : {{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

