{% extends 'BackBundle:layout:baseBack.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('plugins/colorpicker/bootstrap-colorpicker.min.css') }}">
{% endblock %}
{% block body %}
    <h1>Couleur | Édition</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-default" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul class="actions">
        <li>
            <a href="{{ path('couleur_index') }}">Retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>{% endblock %}
{% block javascript %}
    <script src="{{ asset('plugins/colorpicker/bootstrap-colorpicker.min.js') }}"></script>
    <script>
    $(document).ready(function () {
        $(".my-colorpicker1").colorpicker();
    })
    </script>
{% endblock %}