{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h1>Couleurs</h1>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Valeur</th>
                                <th>Hexa</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for couleur in couleurs %}
                                <tr>
                                    <td>
                                        <a href="{{ path('couleur_show', { 'id': couleur.id }) }}">{{ couleur.id }}</a>
                                    </td>
                                    <td>{{ couleur.valeur }}</td>
                                    <td>
                                        <div style="display: block; width: 40px; height: 20px; border-radius:3px; background: {{ couleur.hexa }};"></div>
                                    </td>
                                    <td>

                                        <a href="{{ path('couleur_show', { 'id': couleur.id }) }}"
                                           class="action val-est-un-narvalo">

                                            <i class="fa fa-eye"></i>

                                        </a>

                                        <a href="{{ path('couleur_edit', { 'id': couleur.id }) }}"
                                           class="action val-est-un-narvalo">

                                            <i class="fa fa-pencil"></i>

                                        </a>

                                        <a href="{{ path('couleur_delete', { 'id': couleur.id }) }}"
                                           class="action val-est-un-narvalo">


                                            <i class="fa fa-trash"></i>

                                        </a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <ul class="actions">
            <li>
                <a class="btn btn-default" href="{{ path('couleur_new') }}">Ajouter un(e) couleur</a>
            </li>
        </ul>
    {% endblock %}
