    {% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
    <h1>Couleur</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                        <td>{{ couleur.id }}</td>
                </tr>
                <tr>
                    <th>Valeur</th>
                        <td>{{ couleur.valeur }}</td>
                </tr>
                <tr>
                    <th>Hexa</th>
                        <td><div style="display: block; width: 20px; height: 20px; background: {{ couleur.hexa }};"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
            <ul class="actions">
        <li>
            <a href="{{ path('couleur_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('couleur_edit', { 'id': couleur.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>{% endblock %}
