
<form class="form-inline"  action="{{ path('addProduct', {"id" :  produitGenerique.id }) }}" method="POST">
    <div class="form-group"  style="width:60%;">
        <input  style="width:100%;" type="number" min="1" max="{{ produitGenerique.produit.stock }}" class="form-control" name="qte" value="1" placeholder="Quantité">
    </div>
    <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
</form>