{% extends 'FrontBundle:layout:basePanier.html.twig' %}

{% block body %}
    <div class="well">
    <h1>Mon panier</h1>
    {% if (panier.lignePanier|length > 0) %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Image</th>
                <th>Nom/Description</th>
                <th>Ref.</th>
                <th>Quantité</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Prix unitaire</th>
                {% endif %}
                <th>Supprimer</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Total</th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for ligne in panier.lignePanier %}
                <tr>
                    <td>
                        {% if not ligne.produitGenerique.produit.photoPrincipale == "" %}
                            <img id="imgPrincipalePanier" style="width:100px;"
                                 src="{{ vich_uploader_asset(ligne.produitGenerique.produit.photoPrincipale , 'imageFile') }}">
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('fo_element_show', {'id': ligne.produitGenerique.produit.id , 'type':ligne.produitGenerique.type}) }}"><h3 style="margin:0">{{ ligne.produitGenerique.produit.nom|capitalize }}</h3></a><br>
                        <p>{{ ligne.produitGenerique.produit.description   }}</p>
                    </td>

                    <td>
                        <p>{{ligne.produitGenerique.produit.reference}}</p>
                    </td>

                    <td>
                        <form action="{{ path('changeQuantity', {"id" :  ligne.id }) }}" method="POST">
                            <div class="form-group">
                                <input type="number" min="0" max="{{ ligne.produitGenerique.produit.stock }}" class="form-control" name="qte" value="{{ ligne.qte }}">
                            </div>
                            <button type="submit" class="btn btn-success">Ajouter</button>
                        </form>
                    </td>



                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <p>{{ ligne.produitGenerique.produit.prix|number_format(2, ',', ' ') }} €</p>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path('deleteLigne', {"id" : ligne.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <p>{{ (ligne.produitGenerique.produit.prix*ligne.qte)|number_format(2, ',', ' ') }} €</p>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="{{ path('clearPanier') }}" class="btn btn-danger">Vider le panier</a></td>
                    <td><h4>{{ panier.prixTotal|number_format(2, ',', ' ') }} €</h4></td>
                </tr>
            </tbody>
        </table>

    </div>
        <div class="text-right"><a href="{{ path('setCommand',{'user':panier.user.id}) }}" class="btn btn-success">Valider ma commande</a></div>
    {% else %}
        <p class="alert alert-danger">Aucun produit dans le panier</p>
        <div class="text-right"><a href="{{ path('catalogue') }}" class="btn btn-success" >Retour à la liste</a></div>

    {% endif %}
    </div>
{% endblock %}
