{% extends 'BackBundle:layout:baseBack.html.twig' %}

{% import "macro/produits/macro-tab.html.twig" as macroProduit %}
{% block body %}
    {% for produit in produits %}
        {% for item in produit %}
            {% if item.className == "Roue"%}
                {{ macroProduit.roue(item) }}
            {% elseif item.className == "Equerre"   %}
                {{ macroProduit.equerre(item) }}
            {% elseif item.className == "Planche"   %}
                {{ macroProduit.planche(item) }}
            {% elseif item.className == "Vis"   %}
                {{ macroProduit.vis(item) }}
            {% elseif item.className == "Divers"   %}
                {{ macroProduit.divers(item) }}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="box-footer clearfix">
        <p class="pull-left">Le nombre de commande s'élève à {{ nb_commande }} produits au total</p>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('pdfForProvider') }}" target="_blank"><button type="button" class="pull-right btn btn-success">Commander <i class="fa fa-arrow-circle-right"></i></button></a>
        {% endif %}
    </div>
{% endblock %}

    {% block javascript %}
        <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
        <script>
            $(function () {
                $(".table").DataTable();
            });
        </script>
    {% endblock %}
