{% extends 'BackBundle:layout:baseBack.html.twig' %}

{% import "macro/produits/macro-tab.html.twig" as macroProduit %}
{% block body %}
    {% for produit in produits %}
        {% for item in produit %}
            {% if item.className == "Roue"%}
                {{ macroProduit.roue(item) }}
            {% elseif item.className == "Equerre"   %}
                {{ macroProduit.equerre(item) }}
            {% elseif item.className == "Planche"   %}
                {{ macroProduit.planche(item) }}
            {% elseif item.className == "Vis"   %}
                {{ macroProduit.vis(item) }}
            {% elseif item.className == "Divers"   %}
                {{ macroProduit.divers(item) }}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
    {% block javascript %}
        <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
        <script>
            $(function () {
                $(".table").DataTable();
            });
        </script>
    {% endblock %}