<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header text-center">Menu</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="{% if app.request.attributes.get('_route') == 'backoffice' %} {{ "active" }} {% endif %}"><a href="{{ path('backoffice') }}"><i class="fa fa-link"></i> <span>Accueil</span></a></li>
            <li class="treeview {% if app.request.attributes.get('_route') == 'equerre_index' or app.request.attributes.get('_route') == 'vis_index' or app.request.attributes.get('_route') == 'planche_index' or app.request.attributes.get('_route') == 'roue_index' or app.request.attributes.get('_route') == 'divers_index' %} {{ "active" }} {% endif %}">
                <a href="/"><i class="fa fa-link"></i> <span>Produits</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.attributes.get('_route') == 'equerre_index' %} {{ "active" }} {% endif %}"><a href="{{ path('equerre_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Equerre</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'vis_index' %} {{ "active" }} {% endif %}"><a href="{{ path('vis_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Vis</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'planche_index' %} {{ "active" }} {% endif %}"><a href="{{ path('planche_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Planche</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'roue_index' %} {{ "active" }} {% endif %}"><a href="{{ path('roue_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Roue</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'divers_index' %} {{ "active" }} {% endif %}"><a href="{{ path('divers_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Divers</a></li>
                </ul>
            </li>
            <li class="treeview {% if app.request.attributes.get('_route') == 'couleur_index' or app.request.attributes.get('_route') == 'photo_index' %} {{ "active" }} {% endif %}">
                <a href="/"><i class="fa fa-link"></i> <span>Couleurs / Photos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.attributes.get('_route') == 'couleur_index' %} {{ "active" }} {% endif %}"><a href="{{ path('couleur_index') }}"><span
                                    class="glyphicon glyphicon-pencil text-primary"></span>Couleur</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'photo_index' %} {{ "active" }} {% endif %}"><a href="{{ path('photo_index') }}"><span
                                    class="glyphicon glyphicon-pencil text-primary"></span>Photo</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="treeview  {% if app.request.attributes.get('_route') == 'typetete_index' or app.request.attributes.get('_route') == 'typefiletage_index' or app.request.attributes.get('_route') == 'typevissage_index' or app.request.attributes.get('_route') == 'essence_index' or app.request.attributes.get('_route') == 'materiau_index' or app.request.attributes.get('_route') == 'typedivers_index' %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-link"></i> <span>Caractéristiques</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.attributes.get('_route') == 'typetete_index' %} {{ "active" }} {% endif %}"><a href="{{ path('typetete_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Type de têtes</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'typefiletage_index' %} {{ "active" }} {% endif %}"><a href="{{ path('typefiletage_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Type de filetage</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'typevissage_index' %} {{ "active" }} {% endif %}"><a href="{{ path('typevissage_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Type de vissage</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'essence_index' %} {{ "active" }} {% endif %}"><a href="{{ path('essence_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Essence</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'materiau_index' %} {{ "active" }} {% endif %}"><a href="{{ path('materiau_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Materiau</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'typedivers_index' %} {{ "active" }} {% endif %}"><a href="{{ path('typedivers_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Type (Divers)</a></li>
                </ul>
            </li>



            <li class="treeview {% if app.request.attributes.get('_route') == 'configuration_index' or app.request.attributes.get('_route') == 'edit_societe' or app.request.attributes.get('_route') == 'edit_fournisseur' %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-link"></i> <span>Configuration</span>
                    <span class="pull-right-container">
                         <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.attributes.get('_route') == 'configuration_index' %} {{ "active" }} {% endif %}"><a href="{{ path('configuration_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Couleurs</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'edit_societe' %} {{ "active" }} {% endif %}"><a href="{{ path('edit_societe') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Société</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'edit_fournisseur' %} {{ "active" }} {% endif %}"><a href="{{ path('edit_fournisseur') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Fournisseur</a></li>

                </ul>
            </li>


            <li class="treeview {% if app.request.attributes.get('_route') == 'command_index' or app.request.attributes.get('_route') == 'commandProvider_index' %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-link"></i> <span>Commandes</span>
                <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.attributes.get('_route') == 'command_index' %} {{ "active" }} {% endif %}"><a href="{{ path('command_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Interne</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'commandProvider_index' %} {{ "active" }} {% endif %}"><a href="{{ path('commandProvider_index') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Fournisseur</a></li>
                </ul>
            </li>

            <li class="treeview {% if app.request.attributes.get('_route') == 'fos_user_profile_show' or app.request.attributes.get('_route') == 'fos_user_profile_edit' or app.request.attributes.get('_route') == 'fos_user_list' or app.request.attributes.get('_route') == 'fos_user_add' %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-link"></i> <span>{{ app.user.username|capitalize }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.attributes.get('_route') == 'fos_user_profile_show' %} {{ "active" }} {% endif %}"><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Voir mon profil</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %} {{ "active" }} {% endif %}"><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Modifier mon profil</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'fos_user_list' %} {{ "active" }} {% endif %}"><a href="{{ path('fos_user_list') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Voir les utilisateurs</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'fos_user_add' %} {{ "active" }} {% endif %}"><a href="{{ path('fos_user_add') }}"><span class="glyphicon glyphicon-pencil text-primary"></span>Ajouter un utilisateur</a></li>
                </ul>
            </li>
            {% endif %}
            <li><a href="{{ path('catalogue') }}"><i class="fa fa-link"></i> <span>Voir la boutique</span></a>
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-link"></i><span>Déconnexion</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>