<!-- Notifications Menu -->
{% if(count > 0) %}
<li class="dropdown notifications-menu">
    <!-- Menu toggle button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning">{{ count }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">Vous avez {{ count }} notifications</li>
        <li>
            <!-- Inner Menu: contains the notifications -->
            <ul class="menu">
                {% if (total_alert)>0 %}
                <li><!-- start notification -->
                    <a href="{{ path ('liste_produit_stock_alert') }}">
                        <i class="fa fa-users text-aqua"></i> Il y a {{ total_alert }} produit en stock alerte.
                    </a>
                </li>
                {% endif %}
                {% if (total_mini)>0 %}
                    <li><!-- start notification -->
                        <a href="{{ path ('liste_produit_stock_mini') }}">
                            <i class="fa fa-users text-aqua"></i> Il y a {{ total_mini }} produit en stock tampon.
                        </a>
                    </li>
                {% endif %}
                <!-- end notification -->
            </ul>
        </li>
    </ul>
</li>
{% endif %}