{% block extends %}
{{ "{% extends 'BackBundle:layout:baseBack.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    <h1>{{ entity|capitalize }} | Édition</h1>

    {{ '{{ form_start(edit_form) }}' }}
        {{ '{{ form_widget(edit_form) }}' }}
        <input class="btn btn-default" type="submit" value="Modifier" />
    {{ '{{ form_end(edit_form) }}' }}

{% set hide_edit, hide_delete = true, false %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}
{% endblock body %}
