{% block extends %}
    {{ "{% extends 'BackBundle:layout:baseBack.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block body %}" }}
    <h1>{{ entity_pluralized|capitalize }}</h1>
    <div class="table-responsive">
        <table id="tab-data" class="table table-striped table-hover">
            <thead>
            <tr>
                {%- for field, metadata in fields %}

                    {% if field == 'id' %}
                        <th>Photo</th>
                    {% else %}
                        <th>{{ field|capitalize }}</th>
                    {% endif %}

                {%- endfor %}

                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
            <tr>

                {%- for field, metadata in fields %}
                    {%- if loop.first and ('show' in actions) %}

                        <td>
                        {{ '{% if '~ entity_singularized|lower ~'.photoPrincipale is defined and not '~ entity_singularized|lower ~'.photoPrincipale == "" %}' }}
                            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}"><img class="img img-circle imgThumb" src="{{'{{ vich_uploader_asset('~ entity_singularized|lower ~'.photoPrincipale , \'imageFile\') }}'}}"></a>
                        {{ '{% endif %}' }}
                        </td>

                    {%- elseif metadata.type in ['datetime'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                    {%- elseif metadata.type in ['date'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

                    {%- elseif metadata.type in ['time'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                    {%- elseif metadata.type in ['array'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                    {%- elseif metadata.type in ['boolean'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

                    {%- else %}

                        <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                    {%- endif %}

                    {%- if loop.last %}

                        <td>


                            {%- for action in record_actions %}


                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="action val-est-un-narvalo">

                                    {% if action == 'show' %}
                                        <i class="fa fa-eye"></i>
                                    {% elseif action == 'edit' %}
                                        <i class="fa fa-pencil"></i>
                                    {% endif %}

                                </a>


                            {%- endfor %}

                            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_delete', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="action val-est-un-narvalo">


                                    <i class="fa fa-trash"></i>

                            </a>



                        </td>

                    {%- endif %}
                {%- endfor %}

            </tr>
            {{ '{% endfor %}' }}
            </tbody>
        </table>
    </div>

    {% if 'new' in actions -%}
        <ul class="actions">
            <li>
                <a class="btn btn-default" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">Ajouter un(e) {{ entity }}</a>
            </li>
        </ul>
    {%- endif %}

    {{ "{% endblock %}" }}

    {{ "{% block javascript %}" }}
    <script src="{{ "{{ asset('plugins/datatables/jquery.dataTables.min.js') }}" }}"></script>
    <script src="{{ "{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}" }}"></script>
    <script>
        $(function () {
            $("#tab-data").DataTable();
        });
    </script>
    {{ "{% endblock %}" }}
{% endblock body %}