{% block extends %}
    {{ "{% extends 'BackBundle:layout:baseBack.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    <h1>{{ entity|capitalize }} | Création</h1>

    {{ '{{ form_start(form) }}' }}
        {{ '{{ form_widget(form) }}' }}
        <input class="btn btn-default" type="submit" value="Créer" />
    {{ '{{ form_end(form) }}' }}

{% set hide_edit, hide_delete = true, true %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}
{% endblock body %}
