{% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h1>Configurations</h1>
                    </div>
                    <div class="box-body">

                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Valeur</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for configuration in configurations %}
                                <tr>
                                    <td>
                                        <a href="{{ path('configuration_show', { 'id': configuration.id }) }}">{{ configuration.id }}</a>
                                    </td>
                                    <td>{{ configuration.nom }}</td>
                                    <td>
                                        <div style="display: block; width: 40px; height: 20px; border-radius:3px; background: {{ configuration.valeur }};"></div>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('configuration_show', { 'id': configuration.id }) }}">show</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('configuration_edit', { 'id': configuration.id }) }}">edit</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <ul class="actions">
            <li>
                <a class="btn btn-default" href="{{ path('configuration_new') }}">Ajouter un champ texte</a>
                <a class="btn btn-default" href="{{ path('configuration_new_color') }}">Ajouter un champ couleur</a>
            </li>
        </ul>
    {% endblock %}
