    {% extends 'BackBundle:layout:baseBack.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('plugins/colorpicker/bootstrap-colorpicker.min.css') }}">
{% endblock %}
{% block body %}
    <h1>Configuration | Création</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul class="actions">
        <li>
            <a href="{{ path('configuration_index') }}">Retour</a>
        </li>
    </ul>{% endblock %}
{% block javascript %}
    <script src="{{ asset('plugins/colorpicker/bootstrap-colorpicker.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".my-colorpicker1").colorpicker();
        })
    </script>
{% endblock %}