    {% extends 'BackBundle:layout:baseBack.html.twig' %}

    {% block body %}
    <h1>Configuration</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                        <td>{{ configuration.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                        <td>{{ configuration.nom }}</td>
                </tr>
                <tr>
                    <th>Valeur</th>
                        <td>{{ configuration.valeur }}</td>
                </tr>
            </tbody>
        </table>
    </div>
            <ul class="actions">
        <li>
            <a href="{{ path('configuration_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('configuration_edit', { 'id': configuration.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-default pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>{% endblock %}
